<!DOCTYPE html>
<html lang="pt-br">
 
<head>
  <meta charset="UTF-8">
  <title> Detalhe Professor Fatec Sorocaba</title>
</head>
 
<body>
  <table border="1px" cellpadding="5px" cellspacing="0" ID="tabela1">
 
       <tr class="cabeca">
           <td>ID</td>
           <td>Nome</td>
           <td>E-Mail</td>
       </tr>
       <tr>
           <td><%= profs[0].ID_PROFESSOR %></td>
           <td><%= profs[0].NOME_PROFESSOR %></td>
           <td><%= profs[0].EMAIL_PROFESSOR %></td>
       </tr>
 
  </table>
</body>
 
 
</html>               