<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professores Fatec Sorocaba</title>
</head>
<style>
    table#tabela1 tr td {
        background: #ffc;
    }

    table#tabela1 tr.cabeca td {
        background: #eee;
    }
</style>
<body>
    <h1>Site dos professores da Sorocaba</h1>

    <table border="1px" cellpadding="5px" cellspacing="0" id="tabela1">
        <tr class="cabeca">
            <td>Nome</td>
            <td>E-mail</td>
        </tr>

        <% console.log('Quantidade de registros ->' + profs.length); %>

        <% for(var i = 0; i < profs.length; i++){ %>
            <tr>
                <td><%= profs[i].NOME_PROFESSOR %></td>
                <td><%= profs[i].EMAIL_PROFESSOR %></td>
            </tr>
       <% } %>
    </table>
</body>
</html>